body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 600px;
    margin: 1rem auto 0 auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: skyblue;
    text-align: justify;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap : 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}