@media screen and (min-width: 550px) {
    .section-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .spotlight-wrapper {
        text-align: center;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }


    #spotlight {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }


    .hero-wrapper {
        padding-top: 180px;
        /* width: 100%; */
        width: 1280px;
        height: auto;
    }
}