nav {
    max-width: 100%;
    margin: 1rem auto;
}

/* small view navigation */
#nav-btn {
    font-size: 1.5rem;
    border: 0;
    background: beige;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
}

#nav-btn::before {
    content: "☰";
}

#nav-btn.open::before {
    content: "X";
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #36454f;
    margin: auto;
}

.menu a {
    display: none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

@media screen and (min-width: 600px) {
    #nav-btn {
        display: none;
    }

    .menu {
        flex-direction: row;
        justify-content: space-around;

    }

    .menu a {
        display: flex;
        transition: 0.3s;
        transform-origin: center;
        width: 100px;

    }

    nav {
        overflow: hidden; /* Contain overflow within the nav */
    }

    a:hover {
        color: gold;
        transform: scale(1.1);

    }
}